{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% tailwind_css %}
</head>
<body class="p-0 m-0 font-sans">
        {% if user.is_authenticated %}
        <!--Home if logged in-->
        <div class="min-h-screen bg-zinc-100 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-100">
                
                <header class="relative z-10 h-24 mx-auto w-10/12 ">
                    <div class="w-full h-full flex flex-row justify-between mx-auto">

                        <div class="flex my-auto ">
                            <a href="{% url 'core:index' %}" class="text-2xl xxl:text-3xl font-semibold">PBJ.</a>
                        </div>
                
                        <div class="flex my-auto sm:hidden">
                            <a href="{% url 'core:signout' %}" class="py-3 px-4 bg-zinc-900 text-zinc-100 dark:bg-zinc-100 dark:text-zinc-900 rounded-lg hover:bg-zinc-800 dark:hover:bg-zinc-300">Sign Out</a>
                        </div>
                        
                        <div class="hidden sm:flex">
                            <div class="flex flex-row w-full justify-end m-auto space-x-5">
                                <a href="" class="py-3 px-4 rounded-lg hover:bg-zinc-900 hover:text-zinc-100 dark:hover:bg-zinc-100 dark:hover:text-zinc-900 transition ease-in-out">Inventory</a>
                                <a href="" class="py-3 px-4 rounded-lg hover:bg-zinc-900 hover:text-zinc-100 dark:hover:bg-zinc-100 dark:hover:text-zinc-900 transition ease-in-out">Checkout</a>
                                <a href="{% url 'core:signout' %}" class="py-3 px-4 rounded-lg hover:bg-zinc-900 hover:text-zinc-100 dark:hover:bg-zinc-100 dark:hover:text-zinc-900 transition ease-in-out">Sign Out</a>
                                <button id="theme-toggle" class="py-3 px-4 bg-zinc-900 text-zinc-100 dark:bg-zinc-100 dark:text-zinc-900 rounded-lg hover:bg-zinc-800 dark:hover:bg-zinc-300">
                                    <span id="light-mode" class="hidden">Light Mode</span>
                                    <span id="dark-mode" class="hidden">Dark Mode</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </header>

                {% block body %} {% endblock %}
            </div>
                
        {% else %}

        <!--Home if not logged in-->
        <div class="min-h-screen bg-zinc-100 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-100 overflow-hidden">

            <header class="h-24 absolute top-0 left-0 right-0 w-10/12 mx-auto z-10">
                <div class="w-full h-full flex flex-row justify-between mx-auto">
                    <div class="my-auto justify-start">
                        <a href="{% url 'core:index' %}" class="text-2xl xxl:text-3xl font-semibold">PBJ.</a>
                    </div>
                    <div class="my-auto flex sm:space-x-6 justify-end">
                        <a href="{% url 'core:login' %}" class="py-3 px-4 rounded-lg hover:bg-zinc-900 hover:text-white dark:hover:bg-zinc-100 dark:hover:text-zinc-900 transition ease-in-out">Sign In</a>
                        <a href="{% url 'core:signup' %}" class="py-3 px-4 rounded-lg hover:bg-zinc-900 hover:text-white dark:hover:bg-zinc-100 dark:hover:text-zinc-900 transition ease-in-out">Sign Up</a>
                    </div>
                </div>
            </header>
            {% block nobody %}{% endblock %}

        </div>
        {% endif %}
    <script>
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
    <script src="static/js/app.js"></script>    
</body>
</html>