{% extends 'core/base.html' %}
{% block title %}Home{% endblock %}

<!--Logged in home-->
{% block body %}
<main>
    <div class="relative w-11/12 lg:w-3/4 h-[200px] md:h-[250px] 2xl:h-[320px] mx-auto flex">
        <div class="my-auto font-semibold text-3xl sm:text-4xl leading-10 md:text-5xl 2xl:w-7/12 ">Hi {{ request.user.username }}. <span style="color:rgb(122, 122, 122);"> Choose what you want to see.</span></div>
    </div>
    <div class="w-full shadow-md py-10">
        <div class="w-11/12 lg:w-3/4 mx-auto">
            <div class="flex flex-row space-x-1 sm:space-x-2 lg:space-x-4 2xl:w-7/12 ">
                <a href="" class="w-1/5 py-3 sm:py-6 lg:py-8 sm:shadow-md rounded bg-zinc-800 sm:hover:bg-zinc-700 dark:bg-zinc-800 flex sm:dark:hover:bg-zinc-600 sm:rounded-xl"><div class="m-auto text-xs sm:text-xl font-semibold capitalize text-zinc-100">category</div></a>
                <a href="" class="w-1/5 py-3 sm:py-6 lg:py-8 sm:shadow-md rounded bg-zinc-800 sm:hover:bg-zinc-700 dark:bg-zinc-800 flex sm:dark:hover:bg-zinc-600 sm:rounded-xl"><div class="m-auto text-xs sm:text-xl font-semibold capitalize text-zinc-100">category</div></a>
                <a href="" class="w-1/5 py-3 sm:py-6 lg:py-8 sm:shadow-md rounded bg-zinc-800 sm:hover:bg-zinc-700 dark:bg-zinc-800 flex sm:dark:hover:bg-zinc-600 sm:rounded-xl"><div class="m-auto text-xs sm:text-xl font-semibold capitalize text-zinc-100">category</div></a>
                <a href="" class="w-1/5 py-3 sm:py-6 lg:py-8 sm:shadow-md rounded bg-zinc-800 sm:hover:bg-zinc-700 dark:bg-zinc-800 flex sm:dark:hover:bg-zinc-600 sm:rounded-xl"><div class="m-auto text-xs sm:text-xl font-semibold capitalize text-zinc-100">category</div></a>
                <a href="" class="w-1/5 py-3 sm:py-6 lg:py-8 sm:shadow-md rounded bg-zinc-800 sm:hover:bg-zinc-700 dark:bg-zinc-800 flex sm:dark:hover:bg-zinc-600 sm:rounded-xl"><div class="m-auto text-xs sm:text-xl font-semibold capitalize text-zinc-100">category</div></a>
            </div>
        </div>
    </div>
    

    <div class="w-full bg-white dark:bg-zinc-800">

        <!--Grid layout-->
        <div class="relative w-11/12 lg:w-7/12 mx-auto py-32">
            <div class="grid grid-rows-3 grid-cols-3 gap-2 lg:gap-4 h-screen">
                <a href="" class="bg-zinc-200 dark:bg-zinc-900 h-full w-full shadow-sm rounded-2xl col-span-2 row-span-2 overflow-hidden">
                    <div class="relative grid grid-rows-3 grid-cols-1 w-full h-full">
                        <div class="row-span-2 dark:bg-zinc-900"></div>
                        <div class="text-center my-auto">
                            <div class="text-2xl w-full uppercase">lorem ipsum loremas</div>
                            <div class="text-sm w-full pt-2">$100</div>
                        </div>
                    </div>
                </a>
                <a href="" class="bg-zinc-200 dark:bg-zinc-900 h-full w-full shadow-sm rounded-2xl col-span-1 row-span-2 overflow-hidden">
                    <div class="relative grid grid-rows-3 grid-cols-1 w-full h-full">
                        <div class="row-span-2 dark:bg-zinc-900"></div>
                        <div class="text-center my-auto">
                            <div class="text-2xl w-full uppercase">lorem</div>
                            <div class="text-sm w-full pt-2">$100</div>
                        </div>
                    </div>
                </a>
                <a href="" class="bg-zinc-200 dark:bg-zinc-900 h-full w-full shadow-sm rounded-2xl overflow-hidden">
                    <div class="relative grid grid-rows-3 grid-cols-1 w-full h-full">
                        <div class="row-span-2 dark:bg-zinc-900"></div>
                        <div class="text-center my-auto">
                            <div class="text-2xl w-full uppercase">lorem ipsum</div>
                            <div class="text-sm w-full pt-2">$100</div>
                        </div>
                    </div>
                </a>
                <a href="" class="bg-zinc-200 dark:bg-zinc-900 h-full w-full shadow-sm rounded-2xl overflow-hidden">
                    <div class="relative grid grid-rows-3 grid-cols-1 w-full h-full">
                        <div class="row-span-2 dark:bg-zinc-900"></div>
                        <div class="text-center my-auto">
                            <div class="">
                                <div class="text-2xl uppercase">lorem ipsum</div>
                                <div class="text-sm w-full pt-2">$100</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="bg-zinc-200 dark:bg-zinc-900 h-full w-full shadow-sm rounded-2xl overflow-hidden">
                    <div class="relative grid grid-rows-3 grid-cols-1 w-full h-full">
                        <div class="row-span-2 dark:bg-zinc-900"></div>
                        <div class="text-center my-auto">
                            <div class="">
                                <div class="text-2xl uppercase">lorem ipsum</div>
                                <div class="text-sm w-full pt-2">$100</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
    </div>

</main>

<footer class="relative w-11/12 lg:w-3/4 h-20 mx-auto">
    <div class="h-full flex m-auto justify-end">
        <div class="my-auto font-semibold">Created By PoopyButtJ</div>
    </div>
</footer>

{% endblock %}

<!--Not logged in home-->
{% block nobody %}

<main id="main" class="relative w-11/12 lg:w-3/4 mx-auto">
    <div class="relative flex mx-auto h-[700px] lg:h-[900px]">
        <div class="my-auto w-full lg:w-3/4 xl:7/12 2xl:w-1/2">
            <div class="text-5xl sm:text-6xl md:text-8xl font-semibold">Lorem ipsum.</div>
            <div class="sm:text-lg lg:leading-relaxed py-6 sm20">Etiam laoreet id tellus vitae porta. Phasellus dapibus pulvinar neque eu ultricies. Vestibulum pharetra lacus urna, a bibendum purus imperdiet ac.</div>
            <div class="text-lg sm:text-2xl">
                <a href="{% url 'core:signup' %}" class="py-3 px-5 font-semibold rounded hover:rounded-full bg-zinc-900 text-white dark:bg-zinc-200 dark:text-zinc-800 transition ease-in-out delay-150">Get started</a>
            </div>
        </div>
    </div>

    <div class="relative mx-auto my-12 sm:my-24 text-center">
        <div class="relative w-full lg:flex lg:flex-row lg:space-x-6">
            <div class="flex mb-10 lg:m-0 lg:w-1/3 h-[300px] lg:h-[450px] rounded-xl bg-cyan-800 hover:bg-cyan-600 dark:bg-cyan-900 dark:hover:bg-cyan-700 text-zinc-300 hover:text-white dark:text-zinc-300 dark:hover:text-zinc-200 transition ease-in-out">
                <a href="" class="flex h-full w-full">
                    <div class="m-auto text-xl sm:text-2xl lg:text-lg 2xl:text-2xl font-bold uppercase">Lorem ipsum etiam laoreet.</div>
                </a>
            </div>
            <div class="flex mb-10 lg:m-0 lg:w-1/3 h-[300px] lg:h-[450px] rounded-xl bg-purple-800 hover:bg-purple-600 dark:bg-purple-900 dark:hover:bg-purple-700 text-zinc-300 hover:text-white dark:text-zinc-300 dark:hover:text-zinc-200 transition ease-in-out">
                <a href="" class="flex h-full w-full">
                    <div class="m-auto text-xl sm:text-2xl lg:text-lg 2xl:text-2xl font-bold uppercase">Lorem ipsum etiam laoreet.</div>
                </a>
            </div>
            <div class="flex mb-10 lg:m-0 lg:w-1/3 h-[300px] lg:h-[450px] rounded-xl bg-rose-800 hover:bg-rose-600 dark:bg-rose-900 dark:hover:bg-rose-700 text-zinc-300 hover:text-white dark:text-zinc-300 dark:hover:text-zinc-200 transition ease-in-out">
                <a href="" class="flex h-full w-full">
                    <div class="m-auto text-xl sm:text-2xl lg:text-lg 2xl:text-2xl font-bold uppercase">Lorem ipsum etiam laoreet.</div>
                </a>
            </div>
        </div>
    </div>

    <div class="relative mx-auto my-20 sm:my-40 2xl:my-60">

        <div class="text-5xl 2xl:text-7xl text-center font-bold uppercase font-sans pb-28">Checkout products</div>

        <ul class="lg:flex lg:flex-row lg:space-x-6">
            <li class="md:w-7/12 mx-auto mb-10 lg:my-0 lg:w-1/4 rounded-xl overflow-hidden">
                <div class="relative h-48 2xl:h-64 bg-sky-800 dark:bg-sky-900"></div>
                <div class="relative h-60 2xl:h-96 bg-white dark:bg-zinc-200 dark:text-zinc-800 overflow-hidden">
                    <div class="text-md h-1/3 capitalize px-2 py-2 2xl:px-6 2xl:py-8 border border-b-zinc-200 dark:border-b-zinc-900">
                        <div class="2xl:mb-2">Lorem ipsum</div>
                        <div class="text-lg 2xl:text-2xl font-bold uppercase">Lorem ipsum etiam</div>
                    </div>
                    <div class="text-md h-1/6 px-2 py-2 2xl:px-6 2xl:py-4 border border-b-zinc-200 dark:border-b-zinc-900">Lorem ipsum etiam</div>
                    <div class="text-md h-1/6 px-2 py-2 2xl:px-6 2xl:py-4 border border-b-zinc-200 dark:border-b-zinc-900">Lorem ipsum etiam</div>
                        <div class="text-md h-1/3 flex">
                        <button class="bg-zinc-900 m-auto py-4 px-20 lg:py-2 lg:px-4 2xl:py-5 2xl:px-10 text-zinc-200 rounded-md hover:rounded-full transition ease-in-out">Add to cart</button>
                    </div>
                </div>
            </li>

            <li class="md:w-7/12 mx-auto mb-10 lg:my-0 lg:w-1/4 rounded-xl overflow-hidden">
                <div class="relative h-48 2xl:h-64 bg-sky-800 dark:bg-sky-900"></div>
                <div class="relative h-60 2xl:h-96 bg-white dark:bg-zinc-200 dark:text-zinc-800 overflow-hidden">
                    <div class="text-md h-1/3 capitalize px-2 py-2 2xl:px-6 2xl:py-8 border border-b-zinc-200 dark:border-b-zinc-900">
                        <div class="2xl:mb-2">Lorem ipsum</div>
                        <div class="text-lg 2xl:text-2xl font-bold uppercase">Lorem ipsum etiam</div>
                    </div>
                    <div class="text-md h-1/6 px-2 py-2 2xl:px-6 2xl:py-4 border border-b-zinc-200 dark:border-b-zinc-900">Lorem ipsum etiam</div>
                    <div class="text-md h-1/6 px-2 py-2 2xl:px-6 2xl:py-4 border border-b-zinc-200 dark:border-b-zinc-900">Lorem ipsum etiam</div>
                        <div class="text-md h-1/3 flex">
                        <button class="bg-zinc-900 m-auto py-4 px-20 lg:py-2 lg:px-4 2xl:py-5 2xl:px-10 text-zinc-200 rounded-md hover:rounded-full transition ease-in-out">Add to cart</button>
                    </div>
                </div>
            </li>

            <li class="hidden lg:block w-1/4 rounded-xl overflow-hidden">
                <div class="relative h-48 2xl:h-64 bg-sky-800 dark:bg-sky-900"></div>
                <div class="relative h-60 2xl:h-96 bg-white dark:bg-zinc-200 dark:text-zinc-800 overflow-hidden">
                    <div class="text-md h-1/3 capitalize px-2 py-2 2xl:px-6 2xl:py-8 border border-b-zinc-200 dark:border-b-zinc-900">
                        <div class="2xl:mb-2">Lorem ipsum</div>
                        <div class="text-lg 2xl:text-2xl font-bold uppercase">Lorem ipsum etiam</div>
                    </div>
                    <div class="text-md h-1/6 px-2 py-2 2xl:px-6 2xl:py-4 border border-b-zinc-200 dark:border-b-zinc-900">Lorem ipsum etiam</div>
                    <div class="text-md h-1/6 px-2 py-2 2xl:px-6 2xl:py-4 border border-b-zinc-200 dark:border-b-zinc-900">Lorem ipsum etiam</div>
                        <div class="text-md h-1/3 flex">
                        <button class="bg-zinc-900 m-auto py-4 px-20 lg:py-2 lg:px-4 2xl:py-5 2xl:px-10 text-zinc-200 rounded-md hover:rounded-full transition ease-in-out">Add to cart</button>
                    </div>
                </div>
            </li>

            <li class="hidden lg:block w-1/4 rounded-xl overflow-hidden">
                <div class="relative h-48 2xl:h-64 bg-sky-800 dark:bg-sky-900"></div>
                <div class="relative h-60 2xl:h-96 bg-white dark:bg-zinc-200 dark:text-zinc-800 overflow-hidden">
                    <div class="text-md h-1/3 capitalize px-2 py-2 2xl:px-6 2xl:py-8 border border-b-zinc-200 dark:border-b-zinc-900">
                        <div class="2xl:mb-2">Lorem ipsum</div>
                        <div class="text-lg 2xl:text-2xl font-bold uppercase">Lorem ipsum etiam</div>
                    </div>
                    <div class="text-md h-1/6 px-2 py-2 2xl:px-6 2xl:py-4 border border-b-zinc-200 dark:border-b-zinc-900">Lorem ipsum etiam</div>
                    <div class="text-md h-1/6 px-2 py-2 2xl:px-6 2xl:py-4 border border-b-zinc-200 dark:border-b-zinc-900">Lorem ipsum etiam</div>
                        <div class="text-md h-1/3 flex">
                        <button class="bg-zinc-900 m-auto py-4 px-20 lg:py-2 lg:px-4 2xl:py-5 2xl:px-10 text-zinc-200 rounded-md hover:rounded-full transition ease-in-out">Add to cart</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</main>

<footer class="w-11/12 lg:w-3/4 h-20 mx-auto">
    <div class="h-full flex m-auto justify-end">
        <div class="my-auto font-semibold">Created By PoopyButtJ</div>
    </div>
</footer>

{% endblock %}