{% extends 'core/base.html' %}
{% block title %}Inventory{% endblock %}
{% block body %}
<main>
    <div class="w-11/12 lg:w-3/4 h-96 mx-auto flex">
        <div class="m-auto  text-center">
            <div class="text-7xl font-semibold mb-4">Manage inventory</div>
        </div>
    </div>

    <div class="w-full py-24 flex bg-white dark:bg-black">
        <div class="w-11/12 lg:w-3/4 2xl:w-1/2 h-[750px] m-auto ">
            <div class="grid grid-cols-2 grid-rows-2 gap-4 h-full w-full bg-zinc-100">
                <a href="" class=" bg-zinc-200 dark:bg-zinc-900 rounded-xl shadow-md flex">
                    <div class="m-auto">
                        <div class="text-5xl font-semibold mb-2 capitalize">Add inventory</div>
                        <div class=" font-semibold">Increase the quantity of a part when new shipments come in.</div>
                    </div>
                </a>
                <a href="" class=" bg-zinc-200 dark:bg-zinc-900 rounded-xl shadow-md flex">
                    <div class="m-auto">
                        <div class="text-5xl font-semibold mb-2 capitalize">Edit inventory</div>
                        <div class=" font-semibold">Make any changes to the values of any part.</div>
                    </div>
                </a>
                <a href="" class="col-span-2 bg-zinc-200 dark:bg-zinc-900 rounded-xl shadow-md flex">
                    <div class="m-auto">
                        <div class="text-5xl font-semibold mb-2 capitalize">Create new Part</div>
                        <div class=" font-semibold">Create an entirely new part to began storing inventory for.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    
</main>
{% endblock %}