{% extends 'core/base.html' %}
{% block title %}Inventory{% endblock %}
{% block body %}
<main>
    <div class="w-11/12 lg:w-3/4 h-60 mx-auto flex">
        <div class="m-auto  text-center">
            <div class="text-7xl font-semibold mb-4">Manage inventory</div>
        </div>
    </div>

    <div class="w-full py-20 bg-white dark:bg-black">
        
        {% if fail %}
        <div class="w-full h-12 text-xl text-rose-500 text-center font-semibold"> {{ fail }} </div>
        {% elif success %}
        <div class="w-full h-12 text-xl text-emerald-600 text-center font-semibold"> {{ success }} </div>
        <div class="w-full h-12 text-xl text-rose-500 text-center font-semibold"> {{ previous }} </div>
        {% endif %}
        <div class="w-11/12 lg:w-3/4 2xl:w-1/2 h-[700px] m-auto block">
            
            <!--FORMS-->
            <!--Add Form-->
            
            <div id="addForm" class="hidden absolute h-[700px] w-11/12 lg:w-3/4 2xl:w-1/2 bg-zinc-300 dark:bg-zinc-900 opacity-0 animate-show">
                <div class="py-2 px-2"><button class="close-add text-3xl">&times;</button></div>
                <div class="relative flex h-full w-full">
                    <form action="{% url 'inventory:index' %}" class="relative -top-20 m-auto p-20 " method="post">
                        {% csrf_token %}
                        <div class="text-4xl font-semibold mb-10 uppercase">Add Inventory</div>
                        <div class="w-full mb-2">
                            <label for="part" class="text-sm">Part name</label>
                            <input type="text" name="part" class="block w-full text-zinc-900 pl-2" autofocus autocomplete="off" placeholder="Name">
                        </div>
                        <div class="w-full mb-5">
                            <label for="quantity" class="text-sm">Quantity</label>
                            <input type="text" name="quantity" class="block w-full text-zinc-900 pl-2" autocomplete="off" placeholder="Quantity">
                        </div>
                        <div class="text-center w-full">
                            <input type="submit" class="py-3 px-5  cursor-pointer shadow-sm bg-white dark:bg-black hover:scale-105 text-center w-full" name="add_form">
                        </div>
                    </form>
                </div>
            </div>
            <!--Edit Form-->
            <div id="editForm" class="hidden absolute h-[700px] w-11/12 lg:w-3/4 2xl:w-1/2 bg-zinc-300 dark:bg-zinc-900 opacity-0 animate-show">
                <div class="py-2 px-2"><button class="close-edit text-3xl">&times;</button></div>
                <div class="relative flex h-full w-full">
                    <form action="{% url 'inventory:index' %}" method="post" class="relative -top-20 m-auto p-20 ">
                        {% csrf_token %}
                        <div class="text-4xl font-semibold mb-10 uppercase">Edit Inventory</div>
                        <div class="w-full mb-2">
                            <label for="part" class="text-sm font-medium">Part name</label>
                            <input type="text" name="part" class="block w-full text-zinc-900 pl-2" autofocus autocomplete="off">
                        </div>
                        <div class="w-full mb-2 text-center capitalize">
                            <input id="check_name" type="checkbox" name="name" id="" class="w-4 h-4 rounded" data-input="updateName">
                            <label for="check_name" class="" placeholder="Name">name</label>
                            <input id="check_category" type="checkbox" name="category" id="" class="w-4 h-4 rounded" data-input="updateCategory">
                            <label for="check_category" class="" placeholder="Category">category</label>
                            <input id="check_quantity" type="checkbox" name="quantity" id="" class="w-4 h-4 rounded" data-input="updateQuantity">
                            <label for="check_quantity" class="" placeholder="Quantity">quantity</label>
                            <input id="check_price" type="checkbox" name="price" id="" class="w-4 h-4 rounded" data-input="updatePrice">
                            <label for="check_price" class="" placeholder="Price">price</label>
                            
                        </div>
                        <div id="updateName" class="hidden w-full mb-3">
                            <label for="update_name" class="text-sm font-medium">Update Part name</label>
                            <input type="text" name="update_name" class="block w-full text-zinc-900 pl-2" autofocus autocomplete="off" placeholder="Name">
                        </div>
                        <div id="updateCategory" class="hidden w-full mb-3">
                            <label for="update_category" class="text-sm font-medium">Update Category</label>
                            <input type="text" name="update_category" class="block w-full text-zinc-900 pl-2" autofocus autocomplete="off" placeholder="Category">
                        </div>
                        <div id="updateQuantity" class="hidden w-full mb-3">
                            <label for="update_quantity" class="text-sm font-medium">Update Quantity</label>
                            <input type="text" name="update_quantity" class="block w-full text-zinc-900 pl-2" autofocus autocomplete="off" placeholder="Quantity">
                        </div>
                        <div id="updatePrice" class="hidden w-full mb-3">
                            <label for="update_price" class="text-sm font-medium">Update Price</label>
                            <input type="text" name="update_price" class="block w-full text-zinc-900 pl-2" autofocus autocomplete="off" placeholder="Price">
                        </div>
                        
                        
                        <div class="text-center w-full py-2">
                            <input type="submit" class="py-3 px-5  cursor-pointer shadow-sm bg-white dark:bg-black hover:scale-105 text-center w-full" name="edit_form">
                        </div>
                        
                    </form>
                </div>
            </div>

            <!--Create Form-->
            <div id="createForm" class="hidden absolute h-[700px] w-11/12 lg:w-3/4 2xl:w-1/2 bg-zinc-300 dark:bg-zinc-900 opacity-0 animate-show">
                <div class="py-2 px-2"><button class="close-create text-3xl">&times;</button></div>
                <div class="relative flex h-full w-full">
                    <form action="{% url 'inventory:index' %}" method="post" class="relative -top-20 m-auto p-20 ">
                        {% csrf_token %}
                        <div class="text-4xl font-semibold mb-10 uppercase">Create Inventory</div>
                        <div class="w-full mb-2">
                            <label for="part" class="text-sm">Part name</label>
                            <input type="text" name="part" class="block w-full text-zinc-900 pl-2" autofocus autocomplete="off" placeholder="Name">
                        </div>
                        <div class="w-full mb-5">
                            <label for="category" class="text-sm">Category</label>
                            <input type="text" name="category" class="block w-full text-zinc-900 pl-2" autocomplete="off" placeholder="Category">
                        </div>
                        <div class="w-full mb-5">
                            <label for="description" class="text-sm">Description</label>
                            <input type="text" name="description" class="block w-full text-zinc-900 pl-2" autocomplete="off" placeholder="Description">
                        </div>
                        <div class="w-full mb-5">
                            <label for="price" class="text-sm">Price</label>
                            <input type="text" name="price" class="block w-full text-zinc-900 pl-2" autocomplete="off" placeholder="Price">
                        </div>
                        <div class="text-center w-full">
                            <input type="submit" class="py-3 px-5  cursor-pointer shadow-sm bg-white dark:bg-black hover:scale-105 text-center w-full" name="create_form">
                        </div>
                        
                    </form>
                </div>
            </div>


            <!--Home grid-->
            <div class="grid grid-cols-1 grid-rows-3 lg:grid-cols-2 lg:grid-rows-2 gap-4 h-full w-full text-center transition ease-in-out">
                <div id="add" class=" bg-zinc-200 hover:bg-zinc-300 dark:bg-zinc-900 dark:hover:bg-zinc-700 rounded-xl shadow-md flex cursor-pointer">
                    <div class="m-auto w-10/12">
                        <div class="text-3xl lg:text-5xl font-semibold mb-3 capitalize">Add inventory</div>
                        <div class="text-sm lg:text-base font-semibold">Increase the quantity of a part.</div>
                    </div>
                </div>
                <div id="edit" class=" bg-zinc-200 hover:bg-zinc-300 dark:bg-zinc-900 dark:hover:bg-zinc-700 rounded-xl shadow-md flex cursor-pointer">
                    <div class="m-auto w-10/12">
                        <div class="text-3xl lg:text-5xl font-semibold mb-3 capitalize">Edit inventory</div>
                        <div class="text-sm lg:text-base font-semibold">Make changes to the values of a part.</div>
                    </div>
                </div>
                <div id="create" class="lg:col-span-2 bg-zinc-200 hover:bg-zinc-300 dark:bg-zinc-900 dark:hover:bg-zinc-700 rounded-xl shadow-md flex cursor-pointer">
                    <div class="m-auto w-10/12">
                        <div class="text-3xl lg:text-5xl font-semibold mb-3 capitalize">Create new Part</div>
                        <div class="text-sm lg:text-base font-semibold">Create an entirely new part to began storing inventory for.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Add form
        const add = document.querySelector('#add');
        const addForm = document.querySelector('#addForm');
        add.addEventListener('click', ()=> {
            addForm.classList.toggle('hidden');
        });

        const closeAdd = document.querySelector('.close-add');
        closeAdd.onclick = ()=> {addForm.classList.toggle('hidden');};
        
        // Edit form
        const edit = document.querySelector('#edit');
        const editForm = document.querySelector('#editForm');
        edit.addEventListener('click', ()=> {
            editForm.classList.toggle('hidden');
        });

        const closeEdit = document.querySelector('.close-edit');
        closeEdit.onclick = ()=> {editForm.classList.toggle('hidden');};


        // Checkbox
        const updateName = document.querySelector('#updateName');
        const updateCategory = document.querySelector('#updateCategory');
        const updateQuantity = document.querySelector('#updateQuantity');
        const updatePrice = document.querySelector('#updatePrice');
        const nameCheckbox = document.querySelector('#check_name');
        const categoryCheckbox = document.querySelector('#check_category');
        const quantityCheckbox = document.querySelector('#check_quantity');
        const priceCheckbox = document.querySelector('#check_price');
        nameCheckbox.addEventListener('change', ()=> {
            if (nameCheckbox.checked) {
                updateName.classList.toggle('hidden');
            } else {
                updateName.classList.add('hidden');
            }
        });
        
        categoryCheckbox.addEventListener('change', ()=> {
            if (categoryCheckbox.checked) {
                updateCategory.classList.toggle('hidden');
            } else {
                updateCategory.classList.add('hidden');
            }
        });

        quantityCheckbox.addEventListener('change', ()=> {
            if (quantityCheckbox.checked) {
                updateQuantity.classList.toggle('hidden');
            } else {
                updateQuantity.classList.add('hidden');
            }
        });

        priceCheckbox.addEventListener('change', ()=> {
            if (priceCheckbox.checked) {
                updatePrice.classList.toggle('hidden');
            } else {
                updatePrice.classList.add('hidden');
            }
        });


        // Create form
        const create = document.querySelector('#create');
        const createForm = document.querySelector('#createForm');
        create.onclick = ()=> {createForm.classList.toggle('hidden')};

        const closeCreate = document.querySelector('.close-create');
        closeCreate.onclick = function() {createForm.classList.toggle('hidden');};
        
    </script>
    
    
</main>
{% endblock %}